<!-- <router-outlet></router-outlet> -->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h3 class="bg-info text-white p-3">{{user}} To Do List</h3>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-info">Add</button>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover mt-3">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{item.description}}</td>
                        <td>{{item.action}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>